<!DOCTYPE html>
<html>

<head>
  <title>
    Get data using Axios
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Get some posts using Axios!
  </h1>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post.id %>">
          <%=post.title %>
        </a>
      </li>
      <% }) %>

  </ul>
</body>

</html>