<!DOCTYPE html>
<html>

<head>
    <title>
        Get data using axios
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= post.title %>
    </h1>
    <p>
        <%=post.body %>
    </p>

</body>

</html>