<!DOCTYPE html>
<html>

<head>
    <title>
        Get data using Axios
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/characters/new" method="POST">
        <input type="text" name="name" placeholder="Name" required autofocus>
        <input type="text" name="occupation" placeholder="Occupation">
        <input type="text" name="weapon" placeholder="Weapon">
        <br>
        <button type="submit">Create new Character</button>
        <br>
    </form>
</body>

</html>